* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: #fafbfc;
}

header {
    background-color: skyblue;
    padding: 10px;
    color: #fff;
    text-align: center;
}

main {
    padding: 30px 50px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.lineInput {
    display: grid;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    outline: 0; /*outline serve para tirar a borda quando o objeto está em focus*/
}

button {
    border: 0ox;
    padding: 10px;
    outline: 0;
    background-color: skyblue;
    color: rgb(255, 238, 238);
    border-radius: 3px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all ease 0.3s;
}

button:hover {
    background-color: rgb(70, 155, 188);
}

.content {
    margin-top: 15px;
}

table {
    border-collapse: collapse; /*deixou a borda mais fininha*/
    border: 1px solid #ccc;
    width: 100%;
}

table th {
    background-color: rgb(214, 214, 214);
    padding: 1px 5px;
    text-align: left;
}

table th,td {
    padding: 1px 5px;
    text-align: left;
}

table td img {
    width: 22px;
}

.center {
    text-align: center;
}